**/.quarto/*
.Rproj.user
data/**
**/*_cache/*
*_files/*
**/*_freeze/*
**/*tsv*
**/*csv*
**/*xlsx*
**/*zip
**/*pdf
**/*json
**/*rds
.DS_Store
.Rhistory
/.quarto/*
**/gganim*
*bspf
**/*bspf
/.quarto/
**/*.quarto_ipynb
!docs/Victor_Murra_Schott_Resume_2026.pdf
